<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.gen.geek_central.ShortcutCircus"
    android:versionCode="1"
    android:versionName="1.0"
>
    <uses-sdk
        android:minSdkVersion="7"
    />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
        <!--
            needed to send INSTALL_SHORTCUT intents to the launcher;
            note this is not mentioned in the official list of permissions
            at <http://developer.android.com/reference/android/Manifest.permission.html>.
        -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
        <!--
            needed to send UNINSTALL_SHORTCUT intents to the launcher;
            also undocumented.
        -->
    <application
        android:label="@string/activity_name_1"
        android:icon="@drawable/icon"
    >
    <!--
        application label vs activity label: it is the activity label,
        not the application label, that shows up in the launcher. The
        application label appears in the list of installed applications
        in your Settings.
    -->
        <activity
            android:name="Activity1"
            android:label="@string/activity_name_1"
        >
            <intent-filter>
                <!--
                    Usual action and category for activity to show up
                    in list of installed apps.
                -->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="Activity2"
            android:label="@string/activity_name_2"
        >
            <intent-filter>
                <!--
                    Specifying the following action and category allows the
                    launcher to invoke this activity to create home-screen
                    shortcuts.
                -->
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <!--
                    Usual action and category for activity to show up
                    in list of installed apps.

                    Interesting launcher caching bug: reinstalling
                    the app after adding this intent-filter would not
                    get this second activity to appear in the launcher's
                    list of apps. I had to uninstall the app and then
                    reinstall before it would work.
                -->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="Activity3"
            android:label="@string/activity_name_3"
            android:exported="true"
        >
            <!--
                This activity has no intent filters, so it is not accessible
                from the launcher. Or is it?
            -->
        </activity>
    </application>
</manifest> 
